<% if logged_in? %>
  <%= render "shared/user_infor" %>
  <hr class="separetor">
  <div class="row">
    <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-duration="3s">
      <%= image_tag "s1.png", alt: t("alt") %>
      <h4><%= t "index.category" %></h4>
      <p><%= t "index.category" %></p>
    </div>
  </div>
<% else %>
  <div id="featured">
    <%= image_tag "home-bg.jpg", alt: t("alt") %>
    <div>
      <h2><%= t "index.slogan" %></h2>
      <span><%= t "index.description" %></span>
      <br />
      <%= link_to t("index.signup"), signup_path, class: "btn send" %>
    </div>
  </div>
  <div id="services">
    <div class="sectionhead  row wow fadeInUp">
      <span class="bigicon icon-cup "></span>
      <hr class="separetor">
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-duration="3s">
        <%= image_tag "s1.png", alt: t("alt") %>
        <h4><%= t "index.category" %></h4>
        <p><%= t "index.category" %></p>
      </div>
    </div>
  </div>
<% end %>
