<% @exams.each do |exam| %>
  <tr>
    <th><%= l exam.created_at, format: :short %></th>
    <td><%= link_to exam.user.name, admin_user_path(exam.user) %></td>
    <td>
    <%= exam.category.name %>
    </td>
    <td><%= exam.mark %>/<%= Settings.question_number %></td>
    <td>
      <span class="label label-<%= show_status_exam exam %>">
        <%= exam.status %>
      </span>
    </td>
    <td class = "last-column">
      <span class="pull">
        <% if exam.status == "checked" %>
          <%= link_to admin_exam_path(id: exam.id,
            "status" => "uncheck"), remote: true, method: :put,
              class: "btn btn-sm btn-warning" do %>
            <i class="glyphicon glyphicon-check"></i>
          <% end %>
        <% end %>
        <% if exam.status == "uncheck" %>
          <%= link_to admin_exam_path(:id => exam.id,
            "status" => "checked"), remote: true, method: :put,
              class: "btn btn-sm btn-warning" do %>
            <i class="glyphicon glyphicon-check"></i>
          <% end %>
        <% end %>
        <%= link_to admin_exam_path(exam), method: :delete,
          data: {confirm: t("user_admin.delete")} ,
            class: "btn btn-sm btn-danger" do %>
          <i class="glyphicon glyphicon-remove"></i>
        <% end %>
    </span>
    </td>
  </tr>
<% end %>
