<h3>
  <%= t("category_admin.list_exam")%>
</h3>
<hr>
<table class="table table-striped table-bordered table-custom" cellspacing="0">
  <thead>
    <tr>
      <th><%= t "exam_admin.date_time" %></th>
      <th><%= t "exam_admin.name" %></th>
      <th><%= t "exam_admin.exam_name" %></th>
      <th><%= t "exam_admin.mark" %></th>
      <th><%= t "exam_admin.status" %></th>
      <th class = "last-column"><%= t "exam_admin.action" %></th>
    </tr>
  </thead>
  <tbody>
    <%= render "exam" %>
  </tbody>
</table>
<div class="center"><%= will_paginate %></div>
