<div id="services">
  <div class="col-lg-3 col-sm-6">
    <div class="card hovercard">
      <div class="cardheader">
        <%= image_tag "bguser_infor.jpg", alt: t("alt") %>
      </div>
      <div class="avatar">
        <%= gravatar_for @user %>
      </div>
      <div class="info">
        <div class="title">
          <%= link_to @user.name, @user %>
        </div>
        <%= render "shared/stats"%>
      </div>
      <%= render "users/follow_form" if logged_in? %>
    </div>
  </div>
</div>
