<table class="table table-striped table-bordered table-custom" cellspacing="0">
  <%= link_to t("question_admin.create_question"), new_admin_question_path,
    class: "btn btn-info btn-lg" %>
  <thead>
    <tr>
      <th><%= t "question_admin.question_content" %></th>
      <th class = "last-column"><%= t "question_admin.question_action" %></th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr id="question_<%= question.id%>">
        <td><%= question.content %></td>
        <td class = "last-column">
          <span class="pull">
            <%= link_to edit_admin_question_path(question),
              class: "btn btn-sm btn-warning" do %>
              <i class="glyphicon glyphicon-edit"></i>
            <% end %>
            <%= link_to admin_question_path(question),
              method: :delete, data: {confirm: t("function.confirm_delete")},
              class: "btn btn-sm btn-danger", id: "question-delete",
              remote: true do %>
              <i class="glyphicon glyphicon-remove"></i>
            <% end %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="center"><%= will_paginate %></div>
