<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            <span class="glyphicon glyphicon-bookmark"></span>
            <%= t ".function_manager" %>
          </h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-6 col-md-6">
              <%= link_to admin_categories_path, class: "btn btn-warning btn-lg" do %>
                <span class="glyphicon glyphicon-bookmark"></span>
                <br/><%= t "menu_admin.category" %>
              <% end %>
              <%= link_to admin_users_path, class: "btn btn-danger btn-lg" do %>
                <span class="glyphicon glyphicon-list-alt"></span>
                <br/><%= t "menu_admin.User" %>
              <% end %>
              <%= link_to "#", class: "btn btn-primary btn-lg" do %>
                <span class="glyphicon glyphicon-signal"></span>
                <br/><%= t "menu_admin.report" %>
              <% end %>
              <%= link_to "#", class: "btn btn-primary btn-lg" do %>
                <span class="glyphicon glyphicon-comment"></span>
                <br/><%= t "menu_admin.setting" %>
              <% end %>
            </div>
            <div class="col-xs-6 col-md-6">
              <%= link_to "#", class: "btn btn-success btn-lg" do %>
                <span class="glyphicon glyphicon-user"></span>
                <br/><%= t "menu_admin.mark" %>
              <% end %>
              <%= link_to admin_exams_path, class: "btn btn-info btn-lg" do %>
                <span class="glyphicon glyphicon-file"></span>
                <br/><%= t "menu_admin.exam" %>
              <% end %>
              <%= link_to admin_questions_path, class: "btn btn-warning btn-lg" do %>
                <span class="glyphicon glyphicon-bookmark"></span>
                <br/><%= t "menu_admin.question" %>
              <% end %>
              <%= link_to "#", class: "btn btn-danger btn-lg" do %>
                <span class="glyphicon glyphicon-list-alt"></span>
                <br/><%= t "menu_admin.suggest" %>
              <% end %>
            </div>
          </div>
          <%= link_to "#", class: "btn btn-success btn-lg btn-block" do %>
            <span class="glyphicon glyphicon-globe"></span>
            <%= t ".website" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <h2><%= t "activity" %></h2><hr/>
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
          <div class="update-nag">
            <div class="update-split">
              <i class="glyphicon glyphicon-refresh"></i>
            </div>
            <div class="update-text"><%= t "activity" %></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="update-nag">
            <div class="update-split update-info">
              <i class="glyphicon glyphicon-folder-open"></i>
            </div>
            <div class="update-text"><%= t "activity" %></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="update-nag">
            <div class="update-split update-success">
              <i class="glyphicon glyphicon-leaf"></i>
            </div>
            <div class="update-text"><%= t "activity" %></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="update-nag">
            <div class="update-split update-danger">
              <i class="glyphicon glyphicon-warning-sign"></i>
            </div>
            <div class="update-text"><%= t "activity" %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <div class="panel status panel-danger">
        <div class="panel-heading">
          <h1 class="panel-title text-center"><%= t "count" %></h1>
        </div>
        <div class="panel-body text-center">
          <strong><%= t "admin.user_waiting" %></strong>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="panel status panel-success">
        <div class="panel-heading">
          <h1 class="panel-title text-center"><%= t "count" %></h1>
        </div>
        <div class="panel-body text-center">
          <strong><%= t "admin.user_register" %></strong>
        </div>
      </div>
    </div>
  </div>
</div>
