<table class="table table-striped table-bordered table-custom" cellspacing="0">
  <%= link_to t("category_admin.create"), new_admin_category_path,
    class: "btn btn-info btn-lg" %>
  <hr>
  <thead>
    <tr>
      <th><%= t "category_admin.name" %></th>
      <th class = "last-column"><%= t "category_admin.action" %></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td class = "last-column">
          <span class="pull">
            <%= link_to edit_admin_category_path(category),
              class: "btn btn-sm btn-warning" do %>
              <i class="glyphicon glyphicon-edit"></i>
            <% end %>
            <%= link_to admin_category_path(category), method: :delete,
              data: {confirm: t("function.confirm_delete")},
              class: "btn btn-sm btn-danger" do %>
              <i class="glyphicon glyphicon-remove"></i>
            <% end %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="center"><%= will_paginate %></div>
