<div id="answer" class="form-group choice_question">
  <div class="col-sm-10">
    <%= f.label t("suggest_user.content_answer") %>
    <%= f.text_field :content, class: "form-control" %>
  </div>
  <div class="col-md-2 space-top-remove">
    <%= f.label t("suggest_user.is_correct") %>
    <%= f.check_box :is_correct, class: "correct" %>
  </div>
  <div class= "remove_fields">
    <%= link_to_remove_fields t("suggest_user.remove_answer"), f %>
  </div>
</div>
