<table class="table table-striped table-bordered table-custom" cellspacing="0">
  <%= link_to t("suggest_user.create_suggest"), new_suggest_question_path,
    class: "btn btn-info btn-lg" %>
  <thead>
    <tr>
      <th><%= t "suggest_user.question_content" %></th>
      <th class = "last-column"><%= t "suggest_user.question_action" %></th>
    </tr>
  </thead>
  <tbody>
    <% @suggests.each do |suggest| %>
      <tr id="suggest_<%= suggest.id%>">
        <td><%= suggest.content %></td>
        <td class = "last-column">
          <span class="pull">
            <%= link_to edit_suggest_question_path(suggest),
              class: "btn btn-sm btn-warning" do %>
              <i class="glyphicon glyphicon-edit"></i>
            <% end %>
            <%= link_to suggest_question_path(suggest),
              method: :delete, data: {confirm: t("function.confirm_delete")},
              class: "btn btn-sm btn-danger", id: "suggest-delete",
              remote: true do %>
              <i class="glyphicon glyphicon-remove"></i>
            <% end %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @suggests %>
