<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div>
      <%= form_for @exam, html: {class: "form-inline"}, remote: true do |f| %>
        <%= f.select :category_id,
          @categories.collect {|category| [category.name, category.id]},
            {}, {class: "form-control"} %>
        <%= f.submit t(".create_button"), class: "btn btn-primary" %>
      <% end %>
    </div>
    <hr>
    <h2><%= t ".exam_list" %></h2>
    <table class="table table-hover table-bordered">
      <tr class="info">
        <th><%= t ".created_date" %></th>
        <th><%= t ".category_name" %></th>
        <th><%= t ".status" %></th>
        <th><%= t ".duration" %></th>
        <th><%= t ".question_number" %></th>
        <th class="center"><%= t ".score" %></th>
        <th><%= t ".action" %></th>
      </tr>
      <tbody id = "body_table_exam">
        <% @exams.each do |exam| %>
          <%= render "exam", object: exam %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="center"><%= will_paginate %></div>
